# <b><div style='padding:25px;background-color:#9B2335;color:white;border-radius:4px;font-size:100%;text-align: center'>Phonepe Pulse Data Visualization and Exploration <br><br>  A User-Friendly Tool Using Streamlit and Plotly</div></b>

## <p style="padding:25px;background-color:#DFCFBE;color:black;text-align: center"> &#128218; Importing required libraries </p>

In [ ]:
import gitdb
import pandas as pd
import os
from gitdb import git
from git import Repo
from sqlalchemy import create_engine, text

## <p style="padding:25px;background-color:#55B4B0;color:black;text-align: center"> &#128260; Cloning from pule repository </p>

In [ ]:
def clonerepo(repo_link,local_path):
    repo_name=os.path.join(local_path, os.path.basename(repo_link).removesuffix('.git').title())
    repo_path=os.path.join(local_path, repo_name)
    local_dir = os.path.join(repo_path, 'data')
    last_part = repo_name.split('\\')[-1]
    
    if os.path.exists(repo_path) and os.path.isdir(repo_path) and os.path.exists(os.path.join(repo_path, '.git')):
        print(f"Cloning repository '{last_part}'... ")
        print(f"Repository '{last_part}' already exists. Skipping cloning.")
    else:
        print(f"Cloning repository '{last_part}'... ")
        Repo.clone_from(repo_link, repo_path)
        print(f"Repository '{last_part}' cloned successfully.")
    return local_dir

In [ ]:
repo_link="https://github.com/PhonePe/pulse.git"
local_path = r'E:\Technology\Python Project\Clone'


local_dir = clonerepo(repo_link,local_path)

## <p style="color:#FEC260">&#128736;  Refining State names </p>

In [ ]:
def rename(local_dir):
    for root, dirs, files in os.walk(local_dir):
        if 'state' in dirs:
            state_dir = os.path.join(root, 'state')
            for state_folder in os.listdir(state_dir):
                # rename the state folder
                old_path = os.path.join(state_dir, state_folder)
                new_path = os.path.join(state_dir, state_folder.title().replace('-', ' ').replace('&', 'and'))
                os.rename(old_path, new_path)
    print("Renamed all sub-directories successfully")

## <p style="color:#FEC260"> &#128193; Getting all State folder root</p>

In [ ]:
def extract_state_paths(local_dir):
    path_list = []
    for root, dirs, files in os.walk(local_dir):
        if os.path.basename(root) == 'state':
            path_list.append(root.replace('\\', '/'))
    return path_list

In [ ]:
state_dir = extract_state_paths(local_dir)
state_dir

## <p style="color:#FEC260"> &#128202; Creating Data Frame using the cloned data </p>

### <p style="color:#F2F7A1"> 1. Aggregate Transaction </p>

In [ ]:
state_path=state_dir[0]
state_list = os.listdir(state_path)
agg_tran_dict = {'State': [], 
                 'Year': [], 
                 'Quarter': [], 
                 'Transaction_type': [],
                 'Transaction_count': [], 
                 'Transaction_amount': []
                 }

for state in state_list:
    year_path = state_path + '/' + state + '/'
    year_list = os.listdir(year_path)
    
    for year in year_list:
        qtr_path= year_path + '/' + year + '/'
        qtr_list = os.listdir(qtr_path)
        
        for qtr in qtr_list:
            json_path = qtr_path + qtr
            df = pd.read_json(json_path)

            for i in df['data']['transactionData']:
                type = i['name']
                count = i['paymentInstruments'][0]['count']
                amount = i['paymentInstruments'][0]['amount']
                
                agg_tran_dict['State'].append(state.replace(' And ',' and '))
                agg_tran_dict['Year'].append(year)
                agg_tran_dict['Quarter'].append(int(qtr[0]))
                agg_tran_dict['Transaction_type'].append(type)
                agg_tran_dict['Transaction_count'].append(count)
                agg_tran_dict['Transaction_amount'].append(amount)
agg_tran_df = pd.DataFrame(agg_tran_dict)
agg_tran_df

### <p style="color:#F2F7A1"> 2. Aggregate User </p>

In [ ]:
state_path = state_dir[1]
state_list = os.listdir(state_path)
agg_user_dict = {'State': [], 
                 'Year': [], 
                 'Quarter': [], 
                 'Brand': [],
                 'Transaction_count': [], 
                 'Percentage': []
                 }

for state in state_list:
    year_path = state_path + '/' + state + '/'
    year_list = os.listdir(year_path)
    
    for year in year_list:
        qtr_path = year_path + year + '/'
        qtr_list = os.listdir(qtr_path)
        
        for qtr in qtr_list:
            json_path = qtr_path + qtr
            df = pd.read_json(json_path)
            try:
                for i in df['data']['usersByDevice']:
                    brand = i['brand']
                    count = i['count']
                    percent = i['percentage']

                    agg_user_dict['State'].append(state.replace(' And ',' and '))
                    agg_user_dict['Year'].append(year)
                    agg_user_dict['Quarter'].append(int(qtr[0]))
                    agg_user_dict['Brand'].append(brand)
                    agg_user_dict['Transaction_count'].append(count)
                    agg_user_dict['Percentage'].append(percent)
            except:
                pass

agg_user_df = pd.DataFrame(agg_user_dict)
agg_user_df

### <p style="color:#F2F7A1"> 3. Map Transaction</p>

In [ ]:
state_path = state_dir[2]
state_list = os.listdir(state_path)

map_tran_dict = {'State': [], 
                 'Year': [], 
                 'Quarter': [], 
                 'District': [],
                 'Transaction_count': [], 
                 'Transaction_amount': []
                }

for state in state_list:
    year_path = state_path + '/' + state + '/'
    year_list = os.listdir(year_path)
    
    for year in year_list:
        qtr_path = year_path + year + '/'
        qtr_list = os.listdir(qtr_path)
        
        for qtr in qtr_list:
            json_path = qtr_path + qtr
            df = pd.read_json(json_path)
            
            try:
                for i in df['data']['hoverDataList']:
                   
                    district = i['name']
                    count = i['metric'][0]['count']
                    amount = i['metric'][0]['amount']
                    
                    map_tran_dict['State'].append(state.replace(' And ',' and '))
                    map_tran_dict['Year'].append(year)
                    map_tran_dict['Quarter'].append(int(qtr[0]))
                    map_tran_dict['District'].append(district.removesuffix(' district').title().replace(' And ', ' and ').replace('andaman', 'Andaman'))
                    map_tran_dict['Transaction_count'].append(count)
                    map_tran_dict['Transaction_amount'].append(amount)
            except:
                pass

map_tran_df = pd.DataFrame(map_tran_dict)
map_tran_df

### <p style="color:#F2F7A1"> 4. Map User</p>

In [ ]:
state_path = state_dir[3]
state_list = os.listdir(state_path)
map_user_dict = {
                 'State': [], 'Year': [], 'Quarter': [], 'District': [],
                 'Registered_users': [], 'App_opens': []
                 }

for state in state_list:
    year_path = state_path + '/' + state + '/'
    year_list = os.listdir(year_path)
    
    for year in year_list:
        qtr_path = year_path + year + '/'
        qtr_list = os.listdir(qtr_path)
        
        for qtr in qtr_list:
            json_path = qtr_path + qtr
            df = pd.read_json(json_path)
            
            try:
                for i, j in df['data']['hoverData'].items():
                    
                    reg_user_count = j['registeredUsers']
                    app_open_count = j['appOpens']
                    
                    # Appending to map_user_dict
                    
                    map_user_dict['State'].append(state.replace(' And ',' and '))
                    map_user_dict['Year'].append(year)
                    map_user_dict['Quarter'].append(int(qtr[0]))
                    map_user_dict['District'].append(i.removesuffix(' district').title().replace(' And', ' and').replace('andaman', 'Andaman'))
                    map_user_dict['Registered_users'].append(reg_user_count)
                    map_user_dict['App_opens'].append(app_open_count)
            except:
                pass
map_user_df = pd.DataFrame(map_user_dict)
map_user_df

### <p style="color:#F2F7A1"> 5.Top Transaction District-wise</p>

In [ ]:
state_path = state_dir[4]
state_list = os.listdir(state_path)
top_tran_dist_dict = {
                        'State': [], 'Year': [], 'Quarter': [], 'District': [],
                        'Transaction_count': [], 'Transaction_amount': []
                        }
for state in state_list:
    year_path=state_path+ f'/{state}/'
    year_list=os.listdir(year_path)

    for year in year_list:
        qtr_path=year_path+f'/{year}/'
        qtr_list=os.listdir(qtr_path)
    
        for qtr in qtr_list:
            json_path=qtr_path+qtr
            df=pd.read_json(json_path)
            try:
                for i in df['data']['districts']:
                    name=i['entityName']
                    count=i['metric']['count']
                    amount=i['metric']['amount']
                    
                    top_tran_dist_dict['State'].append(state.replace(' And ',' and '))
                    top_tran_dist_dict['Year'].append(year)
                    top_tran_dist_dict['Quarter'].append(int(qtr[0]))
                    top_tran_dist_dict['District'].append(name.title().replace('And','and' ).replace( 'andaman','Andaman'))
                    top_tran_dist_dict['Transaction_count'].append(count)
                    top_tran_dist_dict['Transaction_amount'].append(amount)
                    
            except:
                pass
top_tran_dist_df=pd.DataFrame(top_tran_dist_dict)
top_tran_dist_df

### <p style="color:#F2F7A1"> 6.Top Transaction Pincode-wise</p>

In [ ]:
state_path = state_dir[4]
state_list = os.listdir(state_path)
top_tran_pin_dict = {
                        'State': [], 'Year': [], 'Quarter': [], 'Pincode': [],
                        'Transaction_count': [], 'Transaction_amount': []
                        }

for state in state_list:
    year_path=state_path+ f'/{state}/'
    year_list=os.listdir(year_path)
    
    for year in year_list:
        qtr_path=year_path + f'{year}/'
        qtr_list=os.listdir(qtr_path)
        
        for qtr in qtr_list:
            json_path= qtr_path+qtr
            df=pd.read_json(json_path)
            
            for i in df['data']['pincodes']:
                name = i['entityName']
                count=i['metric']['count']
                amount=i['metric']['amount']
                
                try:
                    top_tran_pin_dict[ 'State'].append(state.replace(' And ',' and '))
                    top_tran_pin_dict[ 'Year'].append(year)
                    top_tran_pin_dict[ 'Quarter'].append(int(qtr[0]))
                    top_tran_pin_dict[ 'Pincode'].append(name)
                    top_tran_pin_dict[ 'Transaction_count'].append(count)
                    top_tran_pin_dict[ 'Transaction_amount'].append(amount)
                except:
                    pass

top_tran_pin_df=pd.DataFrame(top_tran_pin_dict)
top_tran_pin_df

### <p style="color:#F2F7A1"> 7.Top User District-wise</p>

In [ ]:
state_path = state_dir[5]
state_list = os.listdir(state_path)
top_user_dist_dict = {
                        'State': [], 'Year': [], 'Quarter': [],
                        'District': [], 'Registered_users': []
                        }

for state in state_list:
    year_path=state_path+f'/{state}/'
    year_list=os.listdir(year_path)
    
    for year in year_list:
        qtr_path=year_path+f'{year}/'
        qtr_list=os.listdir(qtr_path)
        
        for qtr in qtr_list:
            json_path=qtr_path+qtr
            df=pd.read_json(json_path)
            
            try:
                for i in df['data']['districts']:
                    name=i['name']
                    count=i['registeredUsers']
                    
                    top_user_dist_dict['State'].append(state.replace(' And ',' and '))
                    top_user_dist_dict['Year'].append(year)
                    top_user_dist_dict['Quarter'].append(int(qtr[0]))   
                    top_user_dist_dict['District'].append(name.title().replace(' And ',' and '))
                    top_user_dist_dict['Registered_users'].append(count)
            except:
                pass
                    
top_user_dist_df=pd.DataFrame(top_user_dist_dict)
top_user_dist_df

### <p style="color:#F2F7A1"> 8.Top User Pincode-wise</p>

In [ ]:
state_path = state_dir[5]
state_list = os.listdir(state_path)
top_user_pin_dict = {
                        'State': [], 'Year': [], 'Quarter': [],
                        'Pincode': [], 'Registered_users': []
                        }

for state in state_list:
    year_path = state_path+f'/{state}/'
    year_list = os.listdir(year_path)
    
    for year in year_list:
        qtr_path = year_path+f'{year}/'
        qtr_list = os.listdir(qtr_path)
        
        for qtr in qtr_list:
            json_path = qtr_path + qtr
            df = pd.read_json(json_path)
            
            try:
                for i in df['data']['pincodes']:
                    
                    name = i['name']
                    count = i['registeredUsers']
                    
                    # Appending to top_user_pin_dict
                    
                    top_user_pin_dict['State'].append(state.replace(' And ',' and '))
                    top_user_pin_dict['Year'].append(year)
                    top_user_pin_dict['Quarter'].append(int(qtr[0]))
                    top_user_pin_dict['Pincode'].append(name)
                    top_user_pin_dict['Registered_users'].append(count)
            except:
                pass

top_user_pin_df = pd.DataFrame(top_user_pin_dict)
top_user_pin_df

## <p style="color:#FEC260"> List of created dataframes</p>

In [ ]:
df_list = [df for df in globals() if isinstance(globals()[df], pd.core.frame.DataFrame) and df.endswith('_df')]
df_list

In [ ]:
def add_suffix_to_districts(df):
    if 'District' in df.columns and 'State' in df.columns:
        delhi_df = df[df['State'] == 'Delhi']
        
        districts_to_suffix = [d for d in delhi_df['District'].unique() if d != 'Shahdara']
        
        df.loc[(df['State'] == 'Delhi') & (df['District'].isin(districts_to_suffix)), 'District'] = df.loc[(df['State'] == 'Delhi') & (df['District'].isin(districts_to_suffix)), 'District'].apply(lambda x: x + ' Delhi' if 'Delhi' not in x else x)

    return df

for df_name in df_list:
    df = globals()[df_name]
    add_suffix_to_districts(df)

## <p style="color:#FEC260"> Adding Latitude and Longitude columns</p>

In [ ]:
lat_long_df = pd.read_csv(r"E:\Technology\Python Project\Clone\Pulse\Lat_long.csv")

for i in df_list:
    df = globals()[i]
    if 'District' in df.columns:
        df = pd.merge(df, lat_long_df, on=['State', 'District'], how='left',suffixes=('_left', '_right'))
        globals()[i] = df

## <p style="color:#FEC260"> Adding Region column to all dataframes</p>

In [ ]:
def add_region_column(df):
    state_groups = {
        'Northern Region': ['Jammu and Kashmir', 'Himachal Pradesh', 'Punjab', 'Chandigarh', 'Uttarakhand', 'Ladakh', 'Delhi', 'Haryana'],
        'Central Region': ['Uttar Pradesh', 'Madhya Pradesh', 'Chhattisgarh'],
        'Western Region': ['Rajasthan', 'Gujarat', 'Dadra and Nagar Haveli and Daman and Diu', 'Maharashtra'],
        'Eastern Region': ['Bihar', 'Jharkhand', 'Odisha', 'West Bengal', 'Sikkim'],
        'Southern Region': ['Andhra Pradesh', 'Telangana', 'Karnataka', 'Kerala', 'Tamil Nadu', 'Puducherry', 'Goa', 'Lakshadweep', 'Andaman and Nicobar Islands'],
        'North-Eastern Region': ['Assam', 'Meghalaya', 'Manipur', 'Nagaland', 'Tripura', 'Arunachal Pradesh', 'Mizoram']
    }
    
    df['Region'] = df['State'].map({state: region for region, states in state_groups.items() for state in states})
    return df

for i in df_list:
    df = globals()[i]
    add_region_column(df)

## <p style="color:#FEC260"> Columnwise null-count and duplicated_rows-count</p>

## <b><div style='padding:20px;background-color:#d9ecd0;color:black;border-radius:4px;font-size:110%;text-align: center'>Columnwise null-count and duplicated_rows-count</div></b>

In [ ]:
for i in df_list:
    df = globals()[i]
    print(f"{i}:")
    print(f"Null count: \n{df.isnull().sum().sum()}")
    columns_to_exclude = [col for col in df.columns if isinstance(df[col][0], list)]
    columns_to_check = [col for col in df.columns if col not in columns_to_exclude]
    print(f"Duplicated rows count: \n{df[columns_to_check].duplicated().sum()}")
    print(df.shape)
    print("\n", 25 * "_", "\n")

Understanding the dataframes

In [ ]:
for i in df_list:
    df = globals()[i]
    print(f'{i}:\n')
    df.info()
    print("\n", 45 * "_", "\n")

## <p style="padding:25px;background-color:#DFCFBE;color:black;text-align: center"> Dropping rows with null values </p>

In [ ]:
top_tran_pin_df.dropna(axis='index',inplace=True)
top_tran_pin_df.isnull().sum().sum()

## <p style="padding:25px;background-color:#DFCFBE;color:black;text-align:center"> Changing datatype across all dataframes
 </p>

In [ ]:
for df_name in df_list:
    df = globals()[df_name]
    try:
        df['Year'] = df['Year'].astype('int32')
        df['Quarter']=df['Quarter'].astype('int32')
        df['Transaction_count']=df['Transaction_count'].astype('int32')
        df['Registered_users']=df['Registered_users'].astype('int32')
    except KeyError:
        pass

## <p style="padding:25px;background-color:#DFCFBE;color:black;text-align:center"> Outlier(s) count across all dataframes
 </p>

In [ ]:
import numpy as np

In [ ]:
def count_outliers(df):
    outliers = {}
    for col in df.select_dtypes(include=[np.number]).columns:
        if col in ['Transaction_count', 'Transaction_amount']:
            q1 = df[col].quantile(0.25)
            q3 = df[col].quantile(0.75)
            iqr = q3 - q1
            upper_bound = q3 + (1.5 * iqr)
            lower_bound = q1 - (1.5 * iqr)
            outliers[col] = len(df[(df[col] > upper_bound) | (df[col] < lower_bound)])
        else:
            continue
    return outliers

In [ ]:
print('OUTLIER COUNT ACROSS DATAFRAMES:\n')

for df_name in df_list:
    df = globals()[df_name]
    outliers = count_outliers(df)
    if len(outliers) == 0:
        pass
    else:
        print(df_name, ":\n\n", outliers, "\n")
        print("\n", 55 * "_", "\n")

## <p style="padding:25px;background-color:#DFCFBE;color:black;text-align:center"> Unique value count across all dataframes </p>

In [ ]:
def unique_value_count(df, exclude_cols=[]):
    for col in df.columns:
        if col in exclude_cols:
            continue
        unique_vals = df[col].nunique()
        print(f"{col}: {unique_vals} unique values")
        if unique_vals < 10:
            print(df[col].unique())

In [ ]:
print('UNIQUE VALUE COUNT ACROSS DATAFRAMES; \n')
for i in df_list:
    df = globals()[i]
    print(i, ":\n")
    unique_value_count(df, exclude_cols = ['State', 'Year', 'Quarter', 'Percentage'])
    print("\n", 55 * "_", "\n")

## <p style="padding:25px;background-color:#DFCFBE;color:black;text-align:center"> Creating CSV files out of the refined dataframes </p>

In [ ]:
def save_dfs_as_csv(df_list):
    subfolder = 'E:\Technology\Python Project\Clone\Pulse\data\Refined_data'
    if not os.path.exists(subfolder):
        os.makedirs(subfolder)
        
    for i in df_list:
        df = globals()[i]
        file_path = os.path.join(subfolder, i.replace('_df', '') + '.csv')
        df.to_csv(file_path, index=False)

In [ ]:
save_dfs_as_csv(df_list)

## <p style="padding:25px;background-color:#DFCFBE;color:black;text-align:center"> SQL part </p>

## <p style="padding:15px;background-color:#55B4B0;color:black;text-align:center"> Creating df as Dict so we can use it to map table name</p>

In [ ]:
dfs_dict={'agg_tran':agg_tran_df,
'agg_user':agg_user_df,
'map_tran':map_tran_df,
'map_user':map_user_df,
'top_tran_dist':top_tran_dist_df,
'top_tran_pin':top_tran_pin_df,
'top_user_dist':top_user_dist_df,
'top_user_pin': top_user_pin_df}

## <p style="padding:15px;background-color:#55B4B0;color:black;text-align:center"> Defining function to create DB in SQL and load data to SQL</p>

In [ ]:
def push_into_SQL(DB_name,dfs_dict,con_str):
    try:
        engine = create_engine(f'{con_str}', pool_pre_ping=True)
        con=engine.connect()
        result=con.execute(text(f"SELECT SCHEMA_NAME FROM INFORMATION_SCHEMA.SCHEMATA WHERE SCHEMA_NAME = '{DB_name}'")).fetchone()
        if result is None:
            con.execute(text(f"CREATE DATABASE {DB_name}"))
            print(f"Database {DB_name} Created \n")
        else:
            print(f"Database {DB_name} exists \n")
    finally:
        con.execute(text(f"use {DB_name}"))
    con_str = f'{con_str}/{DB_name}'
    engine = create_engine(con_str, pool_pre_ping=True)
    for table_name,df in dfs_dict.items():
       df.to_sql(name=table_name, con=engine, if_exists='replace', index=False)
       print(f'Data Frame {table_name} loaded into MySQL')
    con.close()
    engine.dispose()

In [ ]:
con_str = 'mysql+pymysql://root:Sansuganyas%4022@localhost:3306'
push_into_SQL('phonepe_pulse',dfs_dict,con_str)

## <p style="padding:15px;background-color:#55B4B0;color:black;text-align:center"> comparing shape of tables and dataframes for accuracy</p>

In [ ]:
con=engine.connect()
tables= con.execute(text('show tables')).fetchall()
for table in tables:
    table_name = table[0]
    row_count=con.execute(text(f"SELECT COUNT(*) FROM {table_name}")).fetchone()[0]
    column_count =  con.execute(text(f"SELECT COUNT(*) FROM information_schema.columns WHERE table_name='{table_name}'")).fetchone()[0]
    
    df = dfs_dict[table_name]
    if df.shape == (row_count,column_count):
        print(f"{table_name} table has {row_count} rows and {column_count} columns and shape matches DataFrame.")
    else:
        print(f"{table_name} table has {row_count} rows and {column_count} columns but shape does not match DataFrame.")
con.close()
engine.dispose()

In [ ]:
import pandas as pd
agg_trans_df = pd.read_csv(r'E:\Technology\Python Project\Clone\Pulse\data\Refined_data\agg_tran.csv')

agg_trans_df

In [ ]:
import pandas_profiling

def show_detailed_report(df):
    pr = pandas_profiling.ProfileReport(df, config_file=r'C:\Users\sansu\PonePe_Pulse\custom_config.yaml')
    return pr.to_html()

In [ ]:
engine = create_engine('mysql+pymysql://root:Sansuganyas%4022@localhost:3306/phonepe_pulse')
con=engine.connect()
result =con.execute(text('show tables')).fetchall()
for i in result:
    tb_name=i[0\]
    str(i)=con.execute(text(f'select * from {i}')).fetchall()
    print(i)
    break

In [ ]:

from sqlalchemy import create_engine, text
import pandas as pd
# import pymysql

def acces_sqldb(table):
    engine = create_engine('mysql+pymysql://root:Sansuganyas%4022@localhost:3306/phonepe_pulse')
    con=engine.connect()
    result =con.execute(text(f'select * from {table}')).fetchall()
    table=pd.DataFrame(result)
    con.close()
    engine.dispose()
    return table

In [9]:
from sqlalchemy import create_engine, text
import pandas as pd
def fetch_create_df(db_name,db_cond_substring):
    engine = create_engine(f'mysql+pymysql://root:Sansuganyas%4022@localhost:3306/{db_name}')
    con=engine.connect()
    result =con.execute(text('show tables')).fetchall()
    for i in result:
        tb=i[0]
        if any(sub in tb for sub in db_cond_substring):
            data=con.execute(text(f'select * from {tb}')).fetchall()
            df=pd.DataFrame(data)
            print(tb)
            globals()[tb]=df
        else:
            pass

In [10]:
fetch_create_df("Phonepe_Pulse",["user","tran"])

agg_tran
agg_user
map_tran
map_user
top_tran_dist
top_tran_pin
top_user_dist
top_user_pin

In [11]:
agg_tran

,State,Year,Quarter,Transaction_type,Transaction_count,Transaction_amount,Region
0,Andaman and Nicobar Islands,2018,1,Recharge & bill payments,4200,1.845307e+06,Southern Region
1,Andaman and Nicobar Islands,2018,1,Peer-to-peer payments,1871,1.213866e+07,Southern Region
2,Andaman and Nicobar Islands,2018,1,Merchant payments,298,4.525072e+05,Southern Region
3,Andaman and Nicobar Islands,2018,1,Financial Services,33,1.060142e+04,Southern Region
4,Andaman and Nicobar Islands,2018,1,Others,256,1.846899e+05,Southern Region
...,...,...,...,...,...,...,...
3949,West Bengal,2023,2,Merchant payments,245111000,1.767046e+11,Eastern Region
3950,West Bengal,2023,2,Peer-to-peer payments,240347041,7.970548e+11,Eastern Region
3951,West Bengal,2023,2,Recharge & bill payments,58950434,3.478924e+10,Eastern Region
3952,West Bengal,2023,2,Financial Services,327537,3.174670e+08,Eastern Region
3953,West Bengal,2023,2,Others,581674,4.489893e+08,Eastern Region